/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
}

.form-container {
    text-align: center;
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    color:  #44a491;
}

.login-form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #44a491;
    color: #fff;;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #468276;
}

/* Flash messages */
.flash-messages {
    margin-top: 20px;
    list-style-type: none;
}

.flash-message {
    background-color: #ffcccc;
    color: #d9534f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.flash-message.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.flash-message.info {
    background-color: #d9edf7;
    color: #31708f;
}
