/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
}

.form-container {
    text-align: center;
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0a7d18be;;
}

.login-form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #0a7d18be;;
    color: #fff;;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.submit-btn:hover {
    background-color: #0a7d18be;;
}

/* Flash messages */
.flash-messages {
    margin-top: 20px;
    list-style-type: none;
}

.flash-message {
    background-color: #ffcccc;
    color: #d9534f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.flash-message.success {
    background-color: #dff0d8;
    color: hsl(121, 33%, 35%);
}

.flash-message.info {
    background-color: #d9edf7;
    color: #31708f;
}

.forget{
    color: #88a491;
   margin-top: 30px;

}
.password-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Space for the toggle button */
}

.password-toggle {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.password-toggle i {
    color: #777;
}

.password-toggle.visible i {
    color:#0a7d18be; /* Change color when active */
}

