:root {
  --primary-color: #0a7d18be;
  --background-color: #f6f5f7;
  --input-background: #eee;
  --button-text-color: #fff;
  --error-color: #d9534f;
}

.body * {
  box-sizing: border-box;
}

.body {
  font-family: "Montserrat", sans-serif;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  margin: -20px 0 50px;
  margin-top: 20px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

.create {
  color: var(--primary-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 800px;
  max-width: 100%;
  min-height: 600px;
  display: flex;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#signupForm {
  padding-top: 150px;
}

.formContainer input {
  background: var(--input-background);
  border: none;
  padding: 12px 15px 20px;
  margin: 8px 0;
  width: 290px;
}

.formContainer label {
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  color: gray;
  font-family: "SF Pro", sans-serif;
  font-size: 15px;
}

.signUpContainer {
  transform: translateX(100%);
  opacity: 1;
  width: 50%;
}

.signBtn {
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--button-text-color);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  margin-top: 70px;
  cursor: pointer;
}

.signBtn:hover {
  color: var(--primary-color);
  background: #fff;
}


.flash-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}


.flash-message.error {
  margin-top: 20px;
  margin-right: 20px;
  list-style-type: none;
  background-color: #ffcccc;
  color: var(--error-color);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.overlayPanel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  background: linear-gradient(to left, var(--primary-color), #648b64) no-repeat
    0 0 / cover;
  color: #fff;
  border-radius: 10px;
}

#password-requirements li {
  text-align: left;
  list-style-type: disc;
  font-family: monospace;
  font-size: 14px;
}

#password-requirements li.met {
  color: green;
}

#password-requirements li.unmet {
  color: rgb(218, 120, 120);
}

#password-strength {
  font-weight: bold;
}



.hidden {
  display: none;
}

.signInBtn {
  border-radius: 20px;
  border: 1px solid #dfe8e6;
  color: #eef3f2;
  background: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  margin-top: 70px;
  cursor: pointer;
}

.password-wrapper {
  position: relative;
  width: 290px;
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.password-toggle i {
  color: #777;
}

.password-toggle.visible i {
  color: var(--primary-color);
}

@media (max-width: 640px) {
  .overlayPanel {
    font-size: 12px;
  }
}

@media (max-width: 590px) {
  .container {
    width: 700px;
    max-width: 100%;
    min-height: 200px;
  }
  .overlayPanel {
    font-size: 10px;
  }
  .formContainer input {
    width: 200px;
  }
  .password-wrapper {
    width: 200px;
  }
  .create {
    font-size: 15px;
  }
  .signBtn {
    margin-top: 50px;
  }
  p {
    width: 200px;
  }
}
@media (max-width: 440px) {
  .container {
    width: 400px;
    max-width: 100%;
    min-height: 400px;
  }
  .overlayPanel {
    font-size: 10px;
  }
  .formContainer input {
    width: 150px;
    padding: 10px;
  }
  .password-wrapper {
    width: 150px;
  }
  .signInBtn {
    font-size: 10px;
    padding: 9px 30px;
    margin-top: 50px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 700px;
    max-width: 100%;
    min-height: 90px;
  }
  .overlayPanel {
    font-size: 10px;
  }
  .formContainer input {
    width: 100px;
    padding: 10px;
  }
  .formContainer label {
    width: 100px;
    padding: 10px;
    font-size: 20px;
  }
  .password-wrapper {
    width: 100px;
  }
  .signBtn {
    font-size: 7px;

    padding: 8px 20px;

    margin-top: 50px;
  }
  .signInBtn {
    font-size: 7px;
    padding: 8px 20px;
    margin-top: 50px;
    width:90px;
  }
  p {
    width: 100px;
  }
  .password-toggle{
    font-size: 10px;
    right:8px;
  }
}
