<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />

    <title>Home</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar-logo">
        <h2 class="user-name">User Name</h2>
      </div>
      <ul class="sidebar-menu">
        <li>
          <a href="/my_activities"><i class="icon-class">🧘‍♂️</i> Create your activity</a>
          <a href="/my_activities"><i class="icon-class">🧘‍♂️</i> My Activities</a>
        </li>
        <li>
          <a href="#"><i class="icon-class">🎯</i> Goals</a>
        </li>
        <li>
          <a href="#"><i class="icon-class">📊</i> Progress</a>
        </li>
      </ul>
    </div>
    <div class="main">
      <h1>Welcome to MoveMate </h1>

      <h2>Default Activities for you</h2>
      <div id="activities-container">
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li class="flash-message {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form method="get" action="{{url_for('auth.logout')}}">
      <input type="submit" value="logout" />
    </form>

    <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
  </body>
</html>
