<!DOCTYPE html>
<html>

<head>
  <title>Signup</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}" />
</head>

<body>
  <div class="body">
    <div class="container rightPanelActive">
      <div class="formContainer signUpContainer">
        <form id="signupForm" method="POST" action="{{ url_for('auth.signup') }}">
          <h2 class="create">Create your account</h2>
          <div>
            <input type="text" id="user-name" name="username" placeholder="Username" required />
          </div>
          <div>
            <input type="email" id="user-email" name="email" placeholder="Enter your email" required />
          </div>
          <div>
            <div>
              <input type="password" id="user-password" name="password" placeholder="Password" required>
              <div id="password-strength" style="color: red;"></div>
            </div>
          </div>
          <div id="password-feedback">
            <ol id="password-requirements" class="hidden">
              <li id="uppercase" class="unmet">At least one uppercase letter</li>
              <li id="lowercase" class="unmet">At least one lowercase letter</li>
              <li id="number" class="unmet">At least one number</li>
              <li id="special" class="unmet">At least one special character</li>
              <li id="length" class="unmet">At least 8 characters long</li>
              </ul>
              <!-- <p id="password-strength" class="hidden">Password Strength: <span id="strength-label">Weak</span></p> -->
          </div>
          <button type="submit" class="signBtn">Sign Up</button>
        </form>

        <!-- Flash Messages -->
        <div class="flash-container">
          {% with messages = get_flashed_messages(with_categories=true) %} {%
          if messages %}
          <ul class="flash-messages">
            {% for category, message in messages %}
            <li class="flash-message {{ category }}">{{ message|safe }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
      </div>



      <div class="overlayContainer">
        <div class="overlay">
            <div class="overlayPanel">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <a href="{{ url_for('auth.login') }}" class="signInBtn">Sign In</a>
            </div>
        </div>
    </div>
    
  </div>
  <script src="{{ url_for('static', filename='js/signup.js') }}" defer></script>

</body>

</html>